body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .inForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  #field {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #9333EA;
    border-radius: 30px;
    background-color: #0D0B1A;
    color: #EDE9FF;
  }
  
  select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #9333EA;
    border-radius: 30px;
    background-color: #0D0B1A;
    color: #EDE9FF;
  }
  
  .btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #9333EA;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: center;
    width: auto;
  }
  
  .btn:hover {
    box-shadow: 0 0 10px 2px #D58CFF;
  }
  
  .signup-container {
    position: relative;
    background: #1A162E;
    padding: 1.5rem;
    border-radius: 10px;
    width: 350px;
    border-color: #DA70D6;
    box-shadow: 0 0 10px 3px #5D3FD3;
  }
  
  .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s ease;
    filter: invert(94%) sepia(4%) saturate(310%) hue-rotate(226deg) brightness(105%) contrast(101%);
  }
  
  .close-icon:hover {
    opacity: 1;
    transform: scale(1.1);
  }
  
  @media (max-width: 600px) {
    .inForm {
      padding: 1.5rem;
    }
  
    #field, select, .btn {
      font-size: 0.9rem;
      padding: 8px;
    }
  }
  